<!DOCTYPE html>
<html>
<head>
  <title>Films</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
	<%= image_tag("movienight.jpg", :alt => "NoPicture", :size => "100x50")%>
	<%= "Movies We Love"%>
</div>


<div id="nav">
	<ul>
		<% if !logged_in?%>
			<li><%= link_to "Sign In", login_path%></li>
		<% else %>
			<li>Signed in as <%= @current_user.name%></li>
			<li><%= link_to "Sign Out", logout_path%></li>
		<% end %>
		<li><%= link_to "Questions"%></li>
		<li><%= link_to "About", '#'%></li>
		<li><%= link_to "Movie News", 'http://oscar.go.com/nominees'%></li>
		<li><%= mail_to "mary.regan@dit.ie", "Contact Us" %></li>
		<li><%= link_to "Movies", movies_path%></li>
	</ul>
</div>
<% flash.each do |key,value|%>
	<div class = "flash <%=key%>">
		<%= value %>
	</div>
<% end %>


<%= yield %>

</body>
</html>
